.block-views-blocknews-block-1 {
  background: repeating-linear-gradient(-45deg, transparent 0 8px, #cccccc 9px 10px);

  .view-display-id-block_1{
    margin-top: 30px;
  }

  //SEARCH
  .view-filters{
    .form-inline{
      @media(max-width: 767px){
        display: flex;
      }
      .form-item-field-title-news-value{
        padding-left: 15px;
        @media (max-width: 1250px){
          padding-left: 15%;
        }
        @media (max-width: 700px){
          padding-left: 4%;
        }
        @media (max-width: 370px){
          width: 70%;
        }
      }
    }
  }

  .views-row {
    gap: 15px;
    @media (max-width: 1250px) {
      flex-direction: column;
    }
    .views-col {
      display: grid;
      grid-template-areas:
    'time image writer news job ago'
    'time title title title title title'
    'time text text text text text'
    'time btn btn btn btn btn';
      grid-gap: 5px;
      background-color: #FFFFFF;
      padding: 5px;

      @media (max-width: 500px) {
        grid-template-areas:
    'image image writer  news'
    'image image  job ago'
    'title title title title'
    'text text text text '
    'btn btn btn btn';

      }
      &.col-1 {
        position: relative;
        @media (max-width: 1250px){
          width: 70% !important;
        }
        @media (max-width: 700px){
          width: 92% !important;
        }
      }

      &.col-2 {
        position: relative;
        @media (max-width: 1250px){
          width: 70% !important;
        }
        @media (max-width: 700px){
          width: 92% !important;
        }
      }

      &::after {
        @include line(1px, 60%, #cccccc, 35%, 14.2%);
        @media (max-width: 1250px){
          @include line(1px, 60%, #cccccc, 35%, 87px);
        }
        @media (max-width: 500px){
          display: none;
        }

      }


      .views-field-fieldset {
        grid-area: time;

        .views-field-created {
          margin-bottom: -10px;

          .field-content {
            color: #373645;
            font-size: 26px;
          }

        }

        .views-field-created-2 {
          color: #6e9bca;
          font-size: 50px;
          font-weight: 800;
          margin-bottom: -10px;
        }

        .views-field-created-3 {
          color: #cccccc;
          font-size: 16px;
        }
      }

      .views-field-field-writer {
        grid-area: writer;
        color: #cccccc;

      }

      .views-field-new-comments {
        grid-area: comments;
      }

      .views-field-field-name-news {
        grid-area: news;
        width: 102%;
      }

      .views-field-field-job-position-new- {
        grid-area: job;
      }

      .views-field-created-1 {
        grid-area: ago;
        color: #cccccc;
        margin-left: auto;
      }

      .views-field-field-title-news {
        grid-area: title;
        text-transform: uppercase;
        font-size: 23px;
        line-height: 1;
        margin-bottom: 20px;
        padding-top: 15px;
        padding-inline: 20px;
        @media (max-width: 500px){
          padding-inline: 0;
        }
      }

      .views-field-field-text-news {
        grid-area: text;
        font-size: 14px;
        line-height: 1;
        text-transform: uppercase;
        letter-spacing: -1.4px;
        text-align: justify;
        padding-inline: 20px;
        @media (max-width: 500px){
          padding-inline: 0;
        }
      }

      .views-field-fieldset {
        padding-inline: 10px;
        @media (max-width: 500px){
          padding-inline: 0;
        }

        .date-news {
          .views-field-created {
            span {
              text-transform: uppercase;
              text-align: center;
            }
          }
          @media (max-width: 500px){
            display: none;
          }
        }
      }

      .views-field-field-image-news {
        grid-area: image;
        border-left: 1px solid #cccccc;;
        padding-left: 20px;
        @media (max-width: 500px){
          padding-left: 0;
        }

        .img-responsive {
          max-width: unset;
        }
        @media (max-width: 500px){
          border: none;
        }
      }

      //btn
      .views-field-view-node {
        grid-area: btn;
        margin-left: auto;
        padding-right: 20px;

        .field-content {
          .btn-default {
            color: white;
            background-color: #373645;
            padding: 10px;
            text-decoration: none;
          }
        }

      }
    }
  }

}
