.block-views-blockprojects-block-1 {

  background: repeating-linear-gradient(-45deg, transparent 0 8px, #cccccc 9px 10px);
  padding-bottom: 90px;
  .container{
    padding-right: 0;
  }

  .view-display-id-block_1 {
    margin-top: 25px;

    .items-list-projects {
      display: flex;
      gap: 15px;
      justify-content: space-around;
      @media (max-width: 1400px){
        padding-left: 0;
      }
      @media (max-width: 991px) {
        flex-wrap: wrap;
      }

     & li{
        list-style: none;
      }

      .views-field-field-project-name-title {
        background-color: #FFFFFF;
        font-size: 24px;
        line-height: 1;
        color: #373645;
        text-align: center;
        padding-top: 36px;
        padding-bottom: 8px;
        @media (max-width: 1200px){
          font-size: 18px;
        }
      }

      .views-field-field-project-tax {
        background-color: #FFFFFF;
        text-align: center;
        text-decoration: none;
        font-size: 16px;

        a {
          font-size: 15px;
          text-transform: uppercase;

          &:hover {
            text-decoration: none;
            font-weight: bold;
          }

          &[href$="/taxonomy/term/1"] {
            color: #1bbc9b;
          }

          &[href$="/taxonomy/term/3"] {
            color: #9e5db7;
          }

          &[href$="/taxonomy/term/2"] {
            color: #e84c3d;
          }

          &[href$="/taxonomy/term/5"] {
            color: #28a9e0;
          }
        }

      }


    }

    //btn
    .views-field-view-node {
      background-color: #FFFFFF;

      .field-content {
        display: flex;
        justify-content: center;
        padding-bottom: 16px;
        padding-top: 20px;
        border-bottom: 1px solid #373645;

        a {
          color: white;
          background-color: #373645;
          padding: 8px;
          text-decoration: none;
        }
      }
    }
  }




//pager
.pager-nav {
  //ul
  .pagination.js-pager__items {
    display: flex;
    justify-content: center;
    margin-block: 40px;
    //li
    .pager__item {
      margin-inline: 10px;

      &.is-active.active {
        a {
          border-radius: 50%;
          background: #dddcdd;
          border: none;
          font-weight: 800;
        }
      }

      a {
        border: none;
        color: #333333;
        background: none;
        font-size: 16px;
      }

    }

  }
}

}



