.block-views-blockour-team-view-block-1 {
  padding-top: 26px;

  .views-row {
    flex-wrap: wrap;

    .views-col {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
      text-align: center;


      @media (max-width: 1350px) {
        width: 50% !important;
        margin-bottom: 30px;
      }
      @media (max-width: 490px) {
        width: 95% !important;
        margin-bottom: 50px;
      }

      //items
      .views-field-field-team-img {
        @media (max-width: 600px) {
          width: 75%;
          margin: 0 auto;
          img {
            margin: 0 auto;
          }

        }
      }


      .views-field-field-name-sername {
        color: #000;
        font-size: 24px;
        text-transform: uppercase;
        text-decoration: none;
        padding-top: 10%;

      }

      .views-field-field-job-position-tax {
        a {
          color: #B9B9B9;
          text-transform: uppercase;
          font-size: 1em;
          line-height: 0.5em;
        }

      }

      .views-field-view-node {
        margin-block: 15px;

        .field-content {

          a {
            border: none;
            color: #FFF;
            cursor: pointer;
            padding: 5px 10px;
            font-size: 1em;
            outline: none;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
            text-transform: uppercase;
            background: #373645;
            text-decoration: none;
          }
        }

      }

      .link-heard {
        display: flex;
        gap: 60px;

        //LINKS
        .social-media-links--platforms {
          li a span {
            color: #FFFFFF;
            background-color: #0a6fb4;
            font-size: 20px;
            width: 28px;
            height: 28px;
            padding-top: 4px;
          }
        }


        //like
        .views-field-link-flag {
          padding-top: 8px;

          .fa-heart-o {
            &:before {
              font-size: 18px;
              text-align: center;
            }
          }

          .fa-heart {
            &:before {
              font-size: 18px;
              text-align: center;
              color: #0a6fb4;
            }
          }

          .action-flag {
            a {
              color: rgba(0, 0, 0, 0);
            }
          }

          .action-unflag {
            a {
              color: transparent;
            }


          }
        }

      }
    }
  }
}




